checkpoint = ""

factory = {
    name = "bilingual"
    args = { include "modules/factory.hocon" }
}
model = {
    name = "transformer"
    args = { include "modules/model.hocon" }
}
trainer = {
    name = "transformer"
    args = { include "modules/trainer.hocon" }
}
scheduler = {
    name = "noam"
    args = { include "modules/scheduler.hocon" }
}
optimizer = {
    name = "adam"
    args = { include "modules/optimizer.hocon" }
}
tester = {
    name = "transformer"
    args = { include "modules/tester.hocon" }
}

reset_trainer = False
reset_scheduler = False
reset_optimizer = False

logger = {
    name = "wmt16ende_train_transformer"
    path = "wmt16ende_train_transformer.log"
    off = False
    console_report = True
}

visualizer = {
    name = "wmt16ende transformer"
    path = "wmt16ende_transformer.vis"
    off = True
    server = "127.0.0.1"
    port = 6789
    username = ""
    password = ""
    offline = True
    overwrite = True
}

distribution = {
    device = "GPU"
    master_ip = "127.0.0.1"
    master_port = "12345"
    world_size = 4
    ranks = [0, 1, 2, 3]
    workshop_capacity = 60
}

mix_precision {
    on = False
    optimization_level = "O0"
}

random_seed = 1234
