task = "seq2seq"
tester = "seq2seq"
device = "GPU"

output_directory = "Outputs/WMT16_En-De"
checkpoint_directory = "Checkpoints/WMT16_En-De"

logger = {
    name = "test_wmt16_en-de_newstest2013"
    path = "test_wmt16_en-de_newstest2013.log"
    off = False
}
