task = "seq2seq"
trainer = "seq2seq"
model = "transformer_base"
reset_scheduler = False
reset_optimizer = False
reset_trainer = False
checkpoint = ""
optimizer = {
    name = "adam"
    learning_rate = 0.001
    beta1 = 0.9
    beta2 = 0.98
    epsilon = 1e-09
}
scheduler = {
    name = "noam"
    warmup_step = 4000
}
logger = {
    name = "wmt16_en-de_train"
    path = "wmt16_en-de_train.log"
    off = False
}
visualizer = {
    name = "seq2seq_wmt16_en-de"
    path = "seq2seq_wmt16_en-de.vis"
    off = True
    server = "www.young-leigh.love"
    port = 6789
    username = "Guest_Visdom"
    password = "Happy_Visual_001"
    offline = True
    overwrite = True
}
distribution = {
    device = "GPU"
    master_ip = "127.0.0.1"
    master_port = "12345"
    world_size = 8
    ranks = [0, 1, 2, 3, 4, 5, 6, 7]
    workshop_capacity = 80
}
mix_precision {
    on = False
    optimization_level = "O0"
}
random_seed = 1234
