binaries = {
    include file("binaries/main.hocon")
}
models = {
    include file("models/main.hocon")
}
tasks = {
    include file("tasks/main.hocon")
}
testers = {
    include file("testers/main.hocon")
}
trainers = {
    include file("trainers/main.hocon")
}
