user_defined_modules_directory = ""

device = "GPU"
number_worker = 4

checkpoints = {
    name = "wmt16enro_transformer"
    directory = "Checkpoints"
}

factory = {
    name = "bilingual"
    args = { include "modules/factory.hocon" }
}
tester = {
    name = "transformer"
    args = { include "modules/tester.hocon" }
}

logger = {
    name = "wmt16enro_test_transformer"
    path = "wmt16enro_test_transformer.log"
    off = False
    console_report = True
}

distribution = {
    device = "GPU"
    port = "12345"
    number_process = 4
    workshop_capacity = 60
}
