name = "seq2seq"
bpe_symbol = "@@ "
remove_bpe = True
searcher = {
    name = "beam"
    beam_size = 5
    n_best = 5
    min_length = 1
    max_length = 200
    penalty = {
        alpha = 0.6
        beta = 0.0
    }
}

source = "Corpora/newstest2013.en-de.en"
target = "Corpora/Gold/newstest2013.en-de.de"
batch_size = 64
batch_type = "sentence"
