task = {
    name = "seq2seq"
    args = { include "task.hocon" }
}

random_seed = 1234

logger = {
    name = "preprocess_seq2seq_wmt16enro"
    path = "preprocess_seq2seq_wmt16enro.log"
    off = False
    console_report = True
}
