task = {
    name = "seq2seq"
    args = { include "task.hocon" }
}
tester = {
    name = "seq2seq"
    args = { include "tester.hocon" }
}

device = "GPU"

output_directory = "Outputs/Seq2Seq/WMT16EnRo"
checkpoint_directory = "Checkpoints/Seq2Seq/WMT16EnRo"

logger = {
    name = "test_seq2seq_wmt16enro"
    path = "test_seq2seq_wmt16enro.log"
    off = False
    console_report = True
}
