bpe_symbol = "@@ "
remove_bpe = True
dehyphenate = True
beam_searcher = {
    beam_size = 4
    n_best = 1
    min_length = 1
    max_length = 200
    penalty = {
        alpha = 0.6
        beta = 0.0
    }
}

reference_path = "Corpora/Gold/newstest2013.en-de.de"

outputs = {
    name = "wmt16ende_transformer"
    directory = "Outputs"
}
