wait_source_time = 7

bpe_symbol = "@@ "
remove_bpe = True
dehyphenate = True
greedy_searcher = {
    min_length = 1
    max_length = 200
}

reference_path = "Corpora/Gold/newstest2013.en-de.de"

outputs = {
    name = "wmt16ende_fast-wait-k"
    directory = "Outputs"
}
